 nav { margin:100px auto; width:800px; }

            nav ul {
                padding:0;
                margin:0;
                list-style: none;
                position: relative;
                display:block;
            }

            nav ul li {
                float:left;
                display:list-item;
                list-style: none; 

                background-color:#64abfb;
                border-bottom: 5px solid #2ecc71;
            }

            nav ul li a {
                display:block;
                padding:15px 10px;	

                color:#FFF;
                font-size:20px;
                text-decoration:none;
                font-family: 'Bree Serif', 'serif';
            }

            li a:hover { background-color: #2ecc71; }


            /* Change this in order to change the Dropdown symbol */
            li > a:after { content: ' »'; } 
            li > a:only-child:after { content: ''; }  	


            /* The Dropdown Styles */
            /* =================== */

            /* Hide Dropdowns by Default */
            nav ul ul {
                display: none;
                position: absolute; top: 58px;
            }

            /* Display Dropdowns on Hover */
            nav ul li:hover > ul {
                display:list-item;
            }

            /* Fisrt Tier Dropdown */
            nav ul ul li {
                width:170px;
                float:none;
                position: relative;
                border-bottom:none;
            }

            /* Second, Third and more Tiers	*/
            nav ul ul ul li {
                position: absolute relative;
                top:-58px; 
                left:170px;
            }